{%  extends 'base.html.twig' %}


{%  block body %}
<body>
    <div class="hero">
        <div class="wrap">
        <div class="logo-top">
            <img src="{{ asset('banner/uffs-logo-branca.png') }}" alt="Universidade Federal da Fronteira Sul" class="uffs-logo" onerror="this.style.display='none'">
        </div>
        <div class="panel">
            <h4>Escolha a forma de Autenticação:</h4>

            <div class="tabs pills">
                <button class="tablink active" data-tab="tab-ldap2">Visitante</button>
                <button class="tablink" data-tab="tab-voucher">Voucher</button>
                <button class="tablink" data-tab="tab-govbr">
                    <img src="https://www.gov.br/++theme++padrao_govbr/favicons/favicon-32x32.png" alt="Ícone gov.br" class="tab-icon">
                    gov.br
                </button>
                <button class="tablink" data-tab="tab-ldap1">Servidor/Aluno</button>
            </div>

            <div id="tab-ldap1" class="tabcontent">
                <h4 class="text-justify">Forneça suas credenciais:</h4>
                <form method="post" action="{{ path('ldap_auth') }}">
                    <input type="text" name="username" placeholder="idUFFS" autocomplete="username" required class="inp" />
                    <input type="password" name="password" placeholder="Senha" autocomplete="current-password" required class="inp" />
                    <button type="submit" class="btn btnform">Entrar</button>
                </form>
            </div>

            <div id="tab-ldap2" class="tabcontent active">
                <h4 class="text-justify">Forneça suas credenciais:</h4>
                <form method="post" action="{{ path('ldap_auth') }}">
                    <input type="text" name="username" placeholder="e-mail cadastrado" autocomplete="username" required class="inp" />
                    <input type="password" name="password" placeholder="Senha" autocomplete="current-password" required class="inp" />
                    <button type="submit" class="btn btnform">Entrar</button>
                </form>
                
                <div class="tabs-content-footer">
                    <div id="signup" class="signup-wrapper">
                        <p class="signup-title">Ainda não é cadastrado?</p>
                        <a href="https://cav.uffs.edu.br/?backToCaptive=true" class="btn">Criar cadastro</a>
                        <p class="message warn">
                            <strong>Atenção:</strong>
                            Visitantes precisarão ter seu cadastro aprovado antes de ter acesso à rede da UFFS. Para isso, deverão
                            buscar um servidor da Universidade.
                        </p>
                    </div>
                </div>
            </div>

            <div id="tab-voucher" class="tabcontent">
                <h4 class="text-justify">Digite seu voucher:</h4>
                <form method="post" action="{{ path('ldap_auth') }}">
                    <input type="text" name="voucher" placeholder="Código do voucher" autocomplete="off" required class="inp" />
                    <button type="submit" class="btn btnform">Entrar</button>
                </form>
            </div>

            <div id="tab-govbr" class="tabcontent">
               <img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="Logo gov.br" class="govbr-logo">
               <br>Faça login com suas credenciais do gov.br.
                <a class="btn" href="{{ path('login') }}">Entrar com gov.br</a>
                <p> Este serviço utiliza a plataforma de autenticação digital do governo federal.                
                
            </div>

        </div>
        </div>
    </div>

    <script>
        (function() {
            var links = document.querySelectorAll('.tablink');
            links.forEach(function(btn){
                btn.addEventListener('click', function(){
                    var tab = this.getAttribute('data-tab');
                    document.querySelectorAll('.tablink').forEach(function(b){ b.classList.remove('active'); });
                    document.querySelectorAll('.tabcontent').forEach(function(c){ c.style.display = 'none'; });
                    this.classList.add('active');
                    var el = document.getElementById(tab);
                    if (el) el.style.display = 'block';
                });
            });
        })();
    </script>


    
</body>
{%  endblock %}
